<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.ani.accgame"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:targetSdkVersion="28" android:minSdkVersion="21"
        tools:targetApi="LOLLIPOP"/>

    <application
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning"
            android:icon="@drawable/icon">
        <activity
                android:label="@string/app_name"
                android:name=".LevelSelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>